*{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    align-self: center;
}
.center{
    margin-top: 150px;
    width: 500px;
    height: 500px;
    background-color: aquamarine;
    border-radius: 30px;
}
.container .center h1 {
    padding-top: 90px;
    text-align: center;
}
.container .center input {
    height: 30px;
    width: 200px;
    border-radius: 15px;
}
.container .center button {
    border-radius: 15px;
    height: 30px;
    width: 70px;
}
.inp{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    gap: 20px;
}
.center span{
    color: blue;
}
.center p{
    text-align: center;
}
