main{
    section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        margin-top: 50px;
        .login{
            width: 50%;
            border: 1px solid black;
            height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
        }
    }
}

.logo-login{
    width: 300px;
    height: 100px;
}

.profile{
    border-radius: 50%;
    height: 200px;
    width: 100%;
}