*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    box-sizing: border-box;
}

main{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    & nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 10px 5px;
        backdrop-filter: blur(20px);

        & #logo{
            width: 200px;
            height: 40px;
        }

        & .avatar #avatar{
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
}

.avatar{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 150px;

    & .menu{
        position: absolute;
        display:none;
        width: fit-content;
        top: 50px;
        background-color: white;
        border: 1px solid gray;
        padding: 5px;
        border-radius: 2px;
    }
}

.cards{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
    margin-top: 20px;
    @for $i from 1 to 5 {
        .card_nbr:nth-child(#{$i}){
            @if $i == 1 {
                background-color: #dc426f;
            }
            @if $i ==  2{
                background-color: #4a834b;
            }
            @if $i == 3{
                background-color: #dcf2fd;
            }
            @if $i == 4{
                background-color: #1fc078;
            }
            border-radius: 5px;
            padding: 20px;
        }
    }
}

.nombre:nth-child(n){
    font-size: 26px;
    font-weight: bold;
}

.text{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.clubs{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    width: 300px;
    .card-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .card-body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.text-color{
    color: white !important;
}

.test{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid red;
}

.test:nth-child(2){
    margin-left: -20px;
}
.test:nth-child(3){
    margin-left: -20px;
}

button{
    border: none;
    background-color: transparent;
}

.dialog{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
    form{
        margin: 40px auto;
        width: 300px;
        display: flex;
        justify-content: center;
        border-radius: 3px;
        flex-direction: column;
        z-index: 1;
        background-color: white;
        border: 1px solid black;
        padding: 20px;
    }
}

input{
    margin-bottom: 10px !important;
}